.base {
   display: flex;
    justify-content: center;
    margin-top: 30px;
}

.icon {
   display: block;
   width: 60px;
   height: 60px;
    background: center no-repeat;
}

.buildIcon {
   composes: icon;
   background-image: url(../assets/Icons/Bucket_not_usable.png);
}

.buildIconActive {
    background-image: url(../assets/Icons/Bucket_selected.png);
}

.diggIcon {
   composes: icon;
    background-image: url(../assets/Icons/Shovel_not_usable.png);
}

.diggIconActive {
    background-image: url(../assets/Icons/Shovel_selected.png);
}

.actionsCount {
}